.pagination-container{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.pagination-current{
    color: var(--activeColor);
    margin-left: 3%;
    margin-right: 3%;
}

.button{
    margin-right: 0%;
}